@media screen and (min-width: 768px) {
    .header-menu {
        display: flex;
        align-items: center;
    }

    .header-list {
        margin: 0 55px 0 0;
    }
    .header-logo {
        margin-left: -100px;
    }
}

/*========================= 1200px ============================*/
@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/*========================= 991px - 1199px ============================*/
@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

/*========================= 767px - 991px ============================*/
@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .wrapMainDescription {
        flex-wrap: wrap;
    }

    .mainDescription {
        width: 100%;
    }

    .mainDescription {
        margin-bottom: 50px;
    }
}

/*========================= 575px - 767px ============================*/
@media screen and (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }


    .container {
        width: 540px;
        margin: 0;
    }

    .header-body {
        height: 60px;
    }

    /*============== Change burger to X ====================*/
    .header-burger.active span {
        transform: scale(0);
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    /*=======================================================*/
    .header-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #141218;
        opacity: 0.9;
        padding: 5px 0px 0px 10px;
    }

    .header-menu.active {
        top: 0px;
    }

    .header-menu .header-list {
        margin-top: 80px;
        display: block;
    }

    .header-link {
        font-size: 28px;
        line-height: 1.5;
        text-transform: uppercase;
    }

    .social {
        display: none;
    }

    .social.active {
        display: block;
        margin-top: 20px;
    }

    /*======================= Drawing burger menu ============================*/
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header-burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header-burger:before {
        top: 0px;
    }

    .header-burger:after {
        bottom: 0px;
    }

    /*=========================================================================*/
    /*=================== Change description modal window =========================*/
    .description-modal {
        z-index: 6;
    }

    .descriptionModal-content {
        width: 380px;
        height: auto;
    }

    /*=========================================================================*/
    /*=================== Change trailer modal window =========================*/
    .series-modal {
        z-index: 7;
    }

    .series-iframe {
        width: 350px;
        height: 250px;
    }

    .seriesModal-content {
        width: 350px;
        height: 250px;
    }

    #seriesContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    #seriesContainer .series-wrapper {
        margin-right: 0;
    }

    .btn-play-wrapp {
        margin: 0px auto 50px auto;
    }

    /*
    .seriesModalClose:hover {
        font-size: 2em;
    }*/

    /*=========================================================================*/
    /*=================== Change review modal window ==========================*/
    .review-modal {
        z-index: 8;
    }

    .reviewModal-content {
        width: 380px;
        height: 350px;
    }

    /*=========================================================================*/
    /*=================================== Footer ===============================*/
    footer {
        flex-wrap: wrap;
    }

    .rights,
    .footerInfo {
        width: 100%;
        text-align-last: center;
    }


}

/*========================= 0px - 575px ============================*/
@media screen and (max-width: 575px) {
    .container {
        width: 375px;
        padding: 0 15px;
    }