html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

::selection {
  background-color: #a7a7a7;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
canvas,
figure,
figcaption,
audio,
video {
  margin: 0;
  padding: 0;
}

.svg-icon {
  fill: currentColor;
}

.d-flex {
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.series-block .d-flex div:not(:last-child) {
  margin-right: 20px;
}

=======
.series-block.d-flex div:not(:last-child) {
  margin-right: 20px;
}
>>>>>>> b6c01ce3afc4ae8c502a3b361b9b73a424a7a5ff
