body {
    background: url("../img/background2x.jpg") no-repeat;
    background-position: top right;
    background-size: contain;
    background-color: #141218;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.d-a-j {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1135px;
    margin: 0 auto;
}

.header {
    margin-top: 60px;
    margin-bottom: 90px;
}

.logo {
    width: 50px;
    height: 36px;
    margin-right: 60px;
}

ul>li:not(:last-child) {
    margin-right: 25px;
}

.social > a:not(:last-child) {
    margin-right: 25px;
}

.social > a:hover {
  background-color: red;
}

/*======================= Main ========================================*/

.mainDescription {
    width: 458px;
    margin-bottom: 85px;
}

.genre {
    margin-bottom: 16px;
}

/*======================= Rating start ========================================*/

.rating {
  border: none;
}

.rating-name {
  margin-bottom: 5px;
}

.rating-star {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 2em;
  background-size: 2em auto;
  background-repeat: repeat-x;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rating-star:focus {
  outline: none;
}


.rating-star:checked,
.rating-star:hover {
  background-image: url(../img/full_star.svg);
}

.rating-star:hover ~ .rating-star {
  background-image: url(../img/empty_star.svg);
}

.rating-star:nth-of-type(1) {
  z-index: 5;
  width: 2em;
}

.rating-star:nth-of-type(2) {
  z-index: 4;
  width: 4em;
}

.rating-star:nth-of-type(3) {
  z-index: 3;
  width: 6em;
}

.rating-star:nth-of-type(4) {
  z-index: 2;
  width: 8em;
}

.rating-star:nth-of-type(5) {
  z-index: 1;
  width: 10em;
}

.rating-group {
  position: relative;
  width: 10em;
  height: 2em;
  background-image: url(../img/empty_star.svg);
  background-size: 2em auto;
  overflow-x: hidden;
}

/*======================= Rating end ========================================*/

.serialName {
    font-family: 'Pirata One', cursive;
    font-weight: 500;
    font-size: 76px;
    margin-bottom: 10px;
}

.serialDeslription {
  margin-bottom: 40px;
}

.seeOnline {
  background-color: #9D2929;
  text-align: center;
  color: white;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  font-family: inherit;
  font-style: 14px;
  padding: 0 70px;
  line-height: 60px;
}

.btn {
  width: 132px;
  height: 132px;
  /*background-color: #9D2929;*/
  opacity: 50%;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 308px;
  left: 996px;
}

.btn-inside {
  /*background: url("../img/vector.jpg");*/
  background-color: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.play {
  top: 354px;
  left: 1050px;
  height: 40px;
  width: 35px;
  background-color: #ffffff;
  position: absolute;
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("../img/vector.svg") no-repeat;
  background-position: 57% center;
  background-color: #9d2929;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 1;
  z-index: 2;
}
.btn-play-wrapp {
  transition: all 0.4s ease;
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgba(157, 41, 41, 0.5);
  z-index: 1;
  margin-right: 50px;
}

/*.btn-play-wrapp:hover {
  width: 160px;
  height: 160px;
}

 .btn-play-wrapp:active {
  width: 140px;
  height: 140px;
}*/

.wrapMainDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
}







.seriesBlock {
  display: flex;
  margin-bottom: 119px;
}

.series_1 {
  margin-right: 30px;
}

.series_2 {
  margin-right: 30px;
}

.series_3 {
  margin-right: 30px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.privacyPolicy {
  top: 860px;
  left: 1011px;
}

.termsOfService {
  top: 860px;
  left: 1123px;
}

 